#root {
    width: 100%;
    height: 100%;
    background: url(./Images/atmosphere-background-beautiful-531756.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        @media (max-width: 800px) {
            background: url(./Images/Webp.net-resizeimage\ \(3\).jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
}

.Home_main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
        h1 {
            color: #F1721B;
        }
        .Home_input {
            display: flex;
            flex-direction: column;
        }
        .button.ui.button {
            width: 50%;
            margin: 1rem 5rem;
        }
}