#root {
    width: 100%;
    height: 100%;
}

.Home_main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
        .Home_input {
            display: flex;
            flex-direction: column;
        }
        .button.ui.green.inverted.button {
            width: 50%;
            margin: 1rem 5rem;
        }
}